[submodule "BackHITG"]
	path = BackHITG
	url = git@github.com:MathiasP39/BackHITG.git
	branch = main
[submodule "FrontHITG"]
	path = FrontHITG
	url = git@github.com:MathiasP39/FrontHITG.git
	branch = main
